{% extends 'base.html' %}

    {% block content %}
    <h1>User Reviews</h1>
    <p><a href="reviews/new">Write a new review</a></p>
    <p>Reviews in database</p><hr>
    {% for review in reviews %}
    <p><a href="/films/{{ review.film.id }}"> <strong>{{ review.film.name }}</strong></a> 
        | Reviewed by: {{review.user.name}} 
        | {{ review.customer_rating }} Stars 
        | Comment: <i>"{{ review.comment }}"</i> </p>
        <p><a href="/reviews/{{ review.id }}/edit">Edit</a> |
        <form action="/reviews/{{ review.id }}/delete" method="POST">
            <input type="submit" value="Delete">
            </p>
        </form>
            <hr>

    {% endfor %}
            
    {% endblock  %}