<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>What Film - Reviews</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recent_reviews.css') }}">
</head>
<body>
    <!-- Header-Start---> 
    <header>
        <nav>
            <ul class="main-nav">
                <li><a href="/" class="logo">WF</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/films">Films</a></li>
                <li><a href="/watchlist">Watchlist</a></li>
                <li><a href="/reviews">My reviews</a></li>
                <li><a href="/users">Users</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
            
        {% endblock content %}
    </main>
    <footer class="main-nav footer">
    
        <ul>
        <li><a href="/" class="logo">WF</a></li>
        </ul>
        
    </footer>
</body>

</html>