{% extends 'base.html' %}{% block content %}
<!-- hero -->
<div class="hero-image">
    <div class="hero-text"> 
        <h1>Find your perfect film</h1>
        <a href="/films"><button>Get started</button></a>
    </div>
</div>
<!-- hero ends -->
<!-- recent reviews divider -->
<div class="new-reviews">
  <h1>Recent reviews</h1>
</div>
<!-- recent reviews section -->

<section class="favourite">

  <div class="single-favourite align-items-center favourite-bg-1 overlay">
    
      <div class="container">
          <div class="row align-items-center">
              <!-- <div class="col-xl-12 col-md-12"> -->
                  <div class="favourite-text text-center">
                    <a href="/films">
                    <h3>Lucky Grandma | 2020 | 1h 27mins</h3>
                      <p>&#9733; &#9733; &#9733; &#9733; &#9734;</p></a>
                  </div>
              </div>
          </div></a>
      </div>
  </div>
  <div class="single-favourite align-items-center favourite-bg-2 overlay">
      <div class="container">
          <div class="row align-items-center">
              <!-- <div class="col-xl-12 col-md-12"> -->
                  <div class="favourite-text text-center">
                    <a href="/films"><h3>Mank | 2020 | 2h 11mins</h3>
                      <p>&#9733; &#9733; &#9733; &#9733; &#9733;</p>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="single-favourite align-items-center favourite-bg-3 overlay">
      <div class="container">
          <div class="row align-items-center">
                  <div class="favourite-text text-center">
                    <a href="/films"><h3>No Time To Die | 2020 | 1h 15mins</h3>
                      <p>&#9733; &#9733; &#9733; &#9734; &#9734;</p>
                      </a>
                  </div>
          </div>
      </div>
  </div>
</section>
{% endblock  %} 