/* @media (max-width: 767px) {
    .row {
    grid-auto-flow: row;
    grid-template-columns: 100%;;
    }
  }

/* Navigation */

/* @media (max-width: 767px) {
    .main-nav a {
      padding: 0;
    }
  } */ 

  @media (min-width: 40em) {
    body {
      grid-template-areas: 
      'banner'
      'main'
      'footer'
      ;
    }
  }

